body,
html {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "Lato", Helvetica, sans-serif;
  font-weight: 400;
  background-color: #161616;
}

a {
  color: #ffffff;
  text-decoration: underline;
  text-decoration-color: #395eb5;
}

a:hover {
  text-decoration: underline overline;
  text-decoration-color: #395eb5;
}

.card {
  width: 18rem;
  padding: 5px;
  margin: 25px;
}

.card:hover {
  /* background-color: #d3e3ff; */
  /* box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.edit-icon {
  color: black;
  float: right;
  padding: 5px;
}

.edit-icon:hover {
  color: #5183ef;
}

.library {
  display: flex;
  flex-wrap: wrap;
}

.add-book-icon {
  color: white;
  margin-top: 5px;
}

.add-book-icon:hover {
  color: #5183ef;
}

.add-book-card {
  width: 2rem;
  height: 7rem;
  background-color: #161616;
  border: none;
}

/* .add-book-card:hover {
  width: 8rem;
  height: 8rem;
  padding-left: 16px;
  padding-top: 10px;
} */

.title-form {
  width: 180px;
}

h2 {
  color: white;
}

.nav-button {
  width: 100px;
  padding: 10px;
  margin-left: 1.25rem;
  margin-bottom: 10px;
}

.user-dropdown {
  height: 46px;
  margin-top: .49px;
  width: 150px;
  margin-bottom: 10px;
}

.image-cropper {
  margin-left: 5px;
  width: 35px;
  height: 35px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.user-avatar {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.nav-username {
  padding-top: 4px;
  padding-left: 10px;
  padding-right: 10px;
}
